.Theme-ForegroundColorCustom-QHuwok {
    color: rgba(73, 73, 73, 1);
}

.Theme-BackgroundColorCustom-QHuwok {
    background-color: rgba(73, 73, 73, 1);
}

.Theme-ForegroundColorCustom-uouMa5 {
    color: rgba(180, 180, 180, 1);
}

.Theme-BackgroundColorCustom-uouMa5 {
    background-color: rgba(180, 180, 180, 1);
}

.Theme-ForegroundColorCustom-e1SQI3 {
    color: rgba(169, 169, 169, 1);
}

.Theme-BackgroundColorCustom-e1SQI3 {
    background-color: rgba(169, 169, 169, 1);
}

.Theme-ForegroundColorCustom-0DrxkI {
    color: rgba(215, 215, 215, 1);
}

.Theme-BackgroundColorCustom-0DrxkI {
    background-color: rgba(215, 215, 215, 1);
}
